@charset "utf-8";
/* CSS Document */

/* ---------- GENERAL ---------- */


fieldset {
	border: 0;
	margin: 0;
	padding: 0;
	z-index: 10;
}

hr {
	background: rgba(146, 146, 146, 0.25);
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    min-height: 0px;
    z-index: 10;
    margin-top: 3px !important;
    margin-bottom: 14px !important;
    border: 0;
    border-top: 3px solid rgba(80, 80, 80, 0) !important;
}

input {
	border: 0;
	color: inherit;
	font-family: inherit;
	font-size: 100%;
	line-height: normal;
	margin: 0;
	z-index: 10;
}

p { margin: 0; }

.clearfix { *zoom: 1; } /* For IE 6/7 */
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
	z-index: 10;
}
.clearfix:after { clear: both; }

/* ---------- LIVE-CHAT ---------- */

#live-chat {
	bottom: 0;
	font-size: 12px;
	right: 24px;
	position: fixed;
	width: 300px;
	z-index: 1000000;
}

#live-chat header {
	background: rgba(99, 99, 99, 0.85);
	border-radius: 4px 4px 0 0;
	color: #fff;
	cursor: pointer;
	padding: 10px 24px;
	z-index: 10;
}

#live-chat h4:before {
	background: #1a8a34;
	border-radius: 50%;
	content: "";
	display: inline-block;
	height: 8px;
	margin: 0 8px 0 0;
	width: 8px;
	z-index: 10;
}

#live-chat h4 {
	font-size: 12px;
}

#live-chat h5 {
	font-size: 13px;
}

#live-chat form {
	padding: 24px;
	background-color: rgb(35, 40, 49);
}

#live-chat input[type="text"] {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 8px;
	outline: none;
	width: 234px;
	z-index: 10;
	color: #464646;
	font-size: 16px;
}

.chat-message-counter {
	background: #1ABB9C;
    border-radius: 210%;
    display: none;
    font-size: 14px;
    font-weight: bold;
    height: 27px;
    left: 0;
    line-height: 28px;
    margin: -15px 0 0 -15px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 28px;
    z-index: 10;
    visibility: visible;
}

.chat-close {
	background: #1b2126;
	border-radius: 50%;
	color: #fff;
	display: block;
	float: right;
	font-size: 10px;
	height: 16px;
	line-height: 16px;
	margin: 2px 0 0 0;
	text-align: center;
	width: 16px;
	z-index: 10;
}

.chat {
	background: rgba(35, 39, 48, 0.8);
	z-index: 10;
	display: none;
}

.chat-history {
	height: 252px;
	padding: 8px 24px;
	overflow-y: scroll;
	z-index: 10;
	background-color: rgba(56, 56, 56, 0.32);
	color: black;
	border-style: solid;
	border-width: 2px;
	border-color: #292e37;
}

.chat-message {
	margin: 16px 0;
	z-index: 10;
}

.chat-message img {
	border-radius: 50%;
	float: left;
	z-index: 10;
}

.chat-message-content {
	margin-left: 56px;
	z-index: 10;
}

.chat-time {
	float: right;
	font-size: 10px;
	z-index: 10;
	color: #1d8e7b;
}

.chat-feedback {
	margin: 0 0 0 80px;
	z-index: 10;
	font-size: 12px;
	padding-top: 13px;
	color: rgba(212, 212, 212, 0.42);
	font-weight: initial;
}
