/* Global */

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

}
h2 {
  margin: 0;
  font-size: 1em;
}

h3 {
  margin-top: 0;
  font-size: 1em;
  font-weight: 500;
}

h4 {
  margin: 0;
  font-weight: 500;
}

textarea {
  width: calc(100% - 60px - 0.7692em);
  min-height: 4.6154em;
  padding: 0.4615em;
  margin: 0 0 0.3846em 0.7692em;
  border: 1px solid #ddd;
  border-radius: 2px;
  resize: vertical;
}
.text-replace {
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  font-size: 0;
}

.videobutton {
  display: inline-block;
  height: 2.5455em;
  padding: 0 10px;
  color: #333;
  font-weight: 500;
  font-size: 0.8462em;
  line-height: 2.5455em;
  background: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.05);
  cursor: pointer;
}

.videobutton:hover {
  text-decoration: none;
  background: #f0f0f0;
  border-color: #c6c6c6;
  box-shadow: 0 1px 0 rgba(0,0,0,0.10);
}

.avatar,
.vid-thumb {
  float: left;
  margin-right: 0.7692em;
}

.more {
  display: block;
  margin-top: 2em;
  color: #4CAF50;
  font-size: 12px;
  line-height: 40px;
  text-align: center;
  border-top: 1px solid #e2e2e2;
}

.more:hover {
  color: #222;
  text-decoration: none;
}



/* Content */

.content-wrap {
  /*padding: calc(3.7692em + 480px) 0 0.01em;*/
  overflow: auto;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.content-wrap.PiP { padding: calc(-10.75em + 236px) 0 0.01em; }


/* Video */

.video {
  position: fixed;
  z-index: 10;
  top: 3.7692em;
  right: 0;
  width: 100%;
  /*height: 487px;*/
  overflow: visible;
  text-align: center;
  background: #000;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

.PiP .video {
  width: 40vw;
  background: transparent;
  justify-content: flex-end !important;
}

.videoElm {
  width: 854px;
  height: 480px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.videoPadDiv:before {
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

.PiP .videoPadDiv:before {
  padding-bottom: 0px;
}


/* Details */

.details {
  float: left;
  width: calc(100% - 430px);
  padding: 3.7692em 0.7692em 0;
}

.details > * {
  position: relative;
    padding: 72px;
    margin-bottom: 0.7692em;
    background: rgba(38, 42, 51, 0.86);
    border-radius: 5px;
}

.details-description,
.details-sidebar { padding-bottom: 0; }

.details li {
  list-style: none;
  display: inline-block;
}

.channel-info {
  overflow: auto;
  margin-bottom: 0.7692em;
}

.channel-name {
  color: #333;
  font-weight: 500;
}

.followers-container {
  margin: 0.7272em 0;
  color: #767676;
  font-size: 0.8462em;
}

.followers-container li { float: left; }

.followers-container a {
  display: block;
  padding: 0.3333em 0.6154em 0.2727em;
  color: #fff;
  font-size: 1.0909em;
  background: #e62117;
  border-radius: 2px 0 0 2px;
}

.followers-container a:hover {
  text-decoration: none;
  background: #cc181e;
}

.followers-container a::before {
  content: '';
  position: relative;
  top: 2px;
  display: block;
  float: left;
  width: 16px;
  height: 12px;
  margin-right: 0.6154em;
  background-position: -390px -421px;
}

.followers {
  padding: 0.25em 0.6154em;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 2px 2px 0;
}

.details-header .actions {
  clear: left;
  border-top: 1px solid #e2e2e2;
  padding-bottom: 10px;
}

.details-header .actions ul { padding-top: 0.9231em; }

.details-header .actions a {
  margin-right: 1.8181em;
  color: #000;
  font-size: 0.8462em;
  text-decoration: none;
  background: none;
  opacity: 0.5;
}

.details-header .actions a:hover { opacity: 0.6; }

.details-header .actions .more {
  margin: 0;
  line-height: inherit;
  border: none;;
}

.details-header .actions a::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 0.5455em;
}

.add-to::before { background-position: -273px 0; }

.share::before { background-position: -274px -237px; }

.more::before { background-position: -366px -421px; }

.sentiment {
  position: absolute;
  bottom: 1.1538em;
  right: 1.1538em;
}

.sentiment .views {
  position: absolute;
  bottom: 100%;
  right: 0;
  width: 160px;
  color: #666;
  font-size: 1.4615em;
  line-height: 2em;
  text-align: right;
}

.sentiment .views::after {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #167ac6;
}

.details .sentiment a { margin-right: 0.9091em; }

.sentiment .like::before { background-position: -58px -28px; }

.sentiment .dislike::before { background-position: -187px 0; }

.details-comments h3 a {
  color: #666;
  margin-left:51px;
}

.user-comment {

  margin-bottom: 1em;
  margin-left: 40px;}

.user-comment .avatar { position: relative; }

.user-comment .avatar::before,
.user-comment .avatar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  display: block;
  margin-left: 7px;
  border: 7px solid transparent;
  border-top-color: #ddd;
  border-right-color: #ddd;
}

.user-comment .avatar::after {
  top: 1px;
  margin-left: 9px;
  border-top-color: #fff;
  border-right-color: #fff;
}

.user-comment textarea:focus { outline: none; }

.user-comment .videobutton-group {

  margin-left: 2px;
  padding-bottom: 20px;}

.user-comment .videobutton-group a { margin-left: 0.7692em; }

.post,
.post:hover {
  color: #fff;
  background-color: #167ac6;
  border-color: #167ac6;
  opacity: 0.5;
  cursor: default;
}

.top-comments { margin-bottom: 1em; }

.comments > li {
  display: block;
  margin-bottom: 2em;
}

.comments .avatar { float: left; }

.comments .user { font-weight: 500; }

.comments .time {
  vertical-align: top;
  margin-left: 0.5455em;
  color: #767676;
  font-size: 0.8462em;
}

.comments p {
  margin-bottom: 0.3846em;
  overflow: hidden;
  width: 750px;
  color: #fff;
}

.comments .actions {
  margin-left: calc(50px + 0.7692em);
  font-size: 0.8462em;
}

.comments .actions li { margin-right: 1.0909em; }

.comments .actions li:first-child { margin: 0; }

.comments .actions a {
  color: #009688;
  opacity: 0.75;
  text-decoration: none;
  margin-left: -37px;
}
.comments .actions a:hover {
  text-decoration: none;
  opacity: 1;
}

.comments .actions .reply::after {
  margin: 0 0.6364em;
}

.comments .actions .text-replace {
  display: inline-block;
  width: 14px;
  height: 14px;
  opacity: 0.2;
}

.comments .actions .text-replace:hover {
  opacity: 0.6;
}

.comments .actions .like { background-position: 0 0; }

.comments .actions .dislike { background-position: 0 -71px; }

.button .more {
  padding: 0.8333em;
  margin: 1.25em 56.0833em;
  color: #333;
  font-weight: 500;
  font-size: 0.9231em;
  line-height: normal;
  text-transform: none;
  border: 1px solid #d3d3d3;
}

.details-comments .more:hover { background-image: -webkit-linear-gradient(bottom,#f0f0f0 0,#f8f8f8 100%); background-image: linear-gradient(to top,#f0f0f0 0,#f8f8f8 100%); }


/* Sidebar */

.sidebar {
  position: relative;
  float: left;
  padding: 1.1538em;
  margin: 3.7692em 0.7692em 0.7692em 0;
  background: rgba(38, 42, 51, 0.86);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.autoplay {
  position: absolute;
  top: 1.1538em;
  right: 1.1538em;
  color: #767676;
}

.autoplay h4 {
  display: inline-block;
  background: none;
  cursor: pointer;
}

.autoplay h4::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin: 0 0.3077em;
  background-position: -535px -366px;
  opacity: 0.5;
}

.autoplay h4:hover::after { opacity: 0.6; }

.toggle-switch {
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 35px;
  background: #b8b8b8;
  border-radius: 15px;
  cursor: pointer;
}

.toggle-switch::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #b8b8b8;
}

.sidebar { width: 420px; }

.sidebar li {
  position: relative;
  display: block;
  margin-bottom: 1.1538em;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: #333;
}

.sidebar a::before {
  content: attr(data-time);
  position: absolute;
  bottom: 2px;
  right: calc(100% - 118px);
  padding: 0 0.3636em;
  color: #fff;
  font-weight: 500;
  font-size: 0.8462em;
  background: #000;
  opacity: 0.75;
}

.sidebar a:hover { text-decoration: none; }

.sidebar a:hover h4 { color: #167ac6; }

.sidebar .vid-thumb {
  width: 120px;
  height: 68px;
  background-color: #000;
  background-position: center;
  background-size: cover;
}

.sidebar p {
  margin: 0;
  font-size: 0.8462em;
}
